--swiftversion 6.2
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--closingparen balanced
--semicolons never
--stripunusedargs closure-only
--self remove
--exclude .build,DerivedData,Build,.git

